body {
    margin: 0;
    font-family: 'Work Sans', sans-serif;
    font-family: 'Poppins', sans-serif;
}

* {
    padding: 0;
    margin: 0;
    text-decoration: none;
    list-style: none;
    /* box-sizing: border-box; */
}

/* -------------------------------------------
                ** Shared CSS **
 ------------------------------------------- */

.container {
    margin: 0 240px;
}

@media (max-width:425px) {
    .container {
        margin: 0 30px;
    }
}

.button {
    width: 180px;
    height: 64px;
    border: none;
    color: white;
    font-weight: bold;
    font-size: 18px;
    background: #FF900E;
    border-radius: 8px;
    cursor: pointer;
    margin: 30px 0;
}

/* -------------------------------------------
                  ** Navbar CSS **
 ------------------------------------------- */

nav {
    height: 70px;
    width: 100%;
}

label.logo {
    color: #350a0a;
    font-style: 35px;
    padding: 0 100px;
    font-weight: bold;
    line-height: 60px;
    font-weight: 700;
    font-size: 35px;
}

nav ul {
    float: right;
    margin-right: 100px;
}

nav ul li {
    display: inline-block;
    line-height: 70px;
    margin: 0 5px;
}

nav ul li a {
    color: #030303;
    font-size: 17px;
    border-radius: 3px;
    padding: 10px;
    text-transform: uppercase;
}

a.active, a:hover {
    background: #b19a9a;
}

.chcekbtn {
    float: right;
    display: none;
    color: #440e0e;
    cursor: pointer;
    font-size: 30px;
    line-height: 70px;
    margin-right: 40px;
}

#check {
    display: none;
}

@media (max-width: 992px) {
    label.logo {
        font-size: 30px;
        padding-left: 50px;
    }

    nav ul li a {
        font-size: 1rem;
    }
}

@media (max-width: 858px) {
    .chcekbtn {
        display: block;
    }

    ul {
        position: fixed;
        width: 100%;
        height: 100vh;
        background: #2c3e50;
        top: 70px;
        left: -100%;
        text-align: center;
        transition: all .5s;
    }

    nav ul li {
        display: block;
        margin: 50px 0;
        line-height: 30px;
    }

    nav ul li a {
        font-size: 20px;
    }

    a:hover, a.active {
        background: none;
        color: #0052e6;
    }

    #check:checked~ul {
        left: 0;
    }
}

@media (max-width:320px) {
    label.logo {
        padding: 0 60px;
    }
}

section {
    /* background-size: cover; */
    /* height: calc(100vh - 70px); */
}

/* -------------------------------------------
                  ** Header **
 ------------------------------------------- */

.header-main {
    height: 120vh;
}

.top-header {
    text-align: center;
}

.top-header h1 {
    font-weight: 700;
    font-size: 64px;
    line-height: 75px;
}

.top-header p {
    color: #727272;
    font-weight: 400;
    font-size: 16px;
    line-height: 26px;
}

@media (max-width:1024px) {
    .header-main {
        height: 100vh;
    }
}

@media (max-width:425px) {
    .header-main {
        height: 90vh;
    }

    .top-header h1 {
        font-size: 44px;
        line-height: 45px;
    }

    .top-header p {
        font-size: 16px;
        line-height: 26px;
    }
}

@media (max-width:375px) {
    .header-main {
        height: 85vh;
    }
}

@media (max-width:320px) {
    .header-main {
        height: 85vh;
    }
}

/* -------------------------------------------
                 ** Feature **
 ------------------------------------------- */

.feature {
    display: flex;
    margin: 100px 240px;
    align-items: center;
    justify-content: center;
}

.feature-img {
    gap: 10px;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
}

.feature-text {
    margin: 0 100px 0 120px;
}

.feature-text h1 {
    color: #131313;
    font-weight: bold;
    font-weight: 500;
    font-size: 45px;
    line-height: 53px;
}

@media (max-width:1024px) {
    .feature-text {
        margin: 0 10px 0 20px;
    }
}

@media (max-width:768px) {
    .feature-text {
        margin: 0 10px 0 20px;
    }

    .feature {
        flex-direction: column
    }

    .feature-img img {
        width: 100%;
    }
}

@media (max-width:425px) {
    .feature {
        display: flex;
        margin: 10vh 2.08vw;
    }

    .feature-img {
        display: grid;
        gap: 10px;
        grid-template-columns: repeat(1, 1fr);
    }

    .feature-text {
        margin-top: 20px;
    }
}

/* -------------------------------------------
               ** Feature Details **
 ------------------------------------------- */

.feature-details {
    /* margin-top: 500px; */
    display: flex;
}

.feature-details h1 {
    color: #727272;
    font-size: 45px;
    font-weight: 700;
    line-height: 53px;
    border-left: 5px solid #FF900E;
}

.feature-details p {
    font-weight: 400;
    font-size: 16px;
    line-height: 26px;
    color: #727272;
}

.feature-box {
    padding: 15px;
    border-radius: 8px;
    margin: 10px 30px 0 0;
    box-shadow: 0px 4px 30px #0000000f;
}

.feature-box h3 {
    font-size: 20px;
    font-weight: 600;
    color: #131313;
    line-height: 23px;
}

.feature-box p {
    font-size: 16px;
    font-weight: 400;
    line-height: 26px;
    color: #727272;
}

@media (max-width:768px) {
    .feature-details {
        flex-direction: column;
    }
}

@media (max-width:425px) {
    .feature-details h1 {
        font-size: 25px;
        line-height: 33px;
        margin-bottom: 10px;
    }
}

/* -------------------------------------------
             ** Experience Button **
 ------------------------------------------- */

.experience-button {
    width: 342px;
    border: none;
    height: 200px;
    margin: -110px;
    border-radius: 8px;
    background: #FF900E;
}

.experience-top {
    padding: 0;
    font-size: 65px;
    font-weight: 700;
    color: #FFFFFF;
}

.experience-bottom {
    font-weight: 500;
    font-size: 25px;
    color: #FFFFFF;
}

@media (max-width:768px) {
    .experience-button {
        width: 100%;
        height: 100px;
        margin: auto;
    }

    .experience-top {
        padding: 0;
        font-weight: 700;
        font-size: 35px;
        color: #FFFFFF;
    }

    .experience-bottom {
        font-weight: 500;
        font-size: 15px;
        color: #FFFFFF;
    }
}

/* -------------------------------------------
                ** Experience **
 ------------------------------------------- */
/* success */
.experience {
    margin: 200px 240px;
}

.experience h1 {
    font-weight: 700;
    font-size: 45px;
    line-height: 53px;
    margin-bottom: -10px;
}

.experience p {
    margin: 20px 0;
    font-weight: 400;
    font-size: 16px;
    line-height: 26px;
    color: #727272;
}

.experience-carts {
    display: flex;
    text-align: center;
    justify-content: space-around;
}

.experience-cart {
    padding: 35px 50px;
    margin: 20px;
    border-radius: 8px;
    border: 1px solid #FF900E;
}

.experience-cart h2 {
    font-style: normal;
    font-weight: 600;
    font-size: 45px;
    color: #424242;
}

.experience-cart p {
    font-size: 20px;
    font-weight: 600;
    color: #727272;
    line-height: 23px;
}

.experience-cart:hover {
    color: white;
    background-color: red;
    transform: rotate(-45deg);
    transition: transform .5s ease-in;
}

@media (max-width:425px) {
    .experience-carts {
        margin-top: 50px;
        display: block;
    }

    .experience-cart {
        padding: 35px 50px;
        border-radius: 8px;
        border: 1px solid #FF900E;
    }


}

/* -------------------------------------------
                ** Goto shop **
              ** For bonus part **
 ------------------------------------------- */

.go-shop {
    justify-content: center;
    align-items: center;
    display: flex;
}

.go-shop h1 {
    font-size: 34px;
    margin-bottom: 10px;
}

@media (max-width:425px) {
    .go-shop {
        display: block;
    }
}

/* -------------------------------------------
                ** Sponsors **
 ------------------------------------------- */

.sponsors {
    text-align: center;
    margin: 200px 240px;
}

.sponsors h1 {
    font-weight: 700;
    font-size: 45px;
    line-height: 53px;
    margin-bottom: 10px;
}

.sponsors p {
    font-weight: 400;
    font-size: 16px;
    line-height: 26px;
    margin-bottom: 25px;
}

.sponsors-logos {
    display: flex;
    color: #727272;
    text-align: center;
    justify-content: space-around;
}

@media (max-width:425px) {
    .experience {
        margin: 10vh 10px;
    }

    .sponsors-logos {
        display: grid;
        /* margin: 100px 0; */
    }

    .sponsors-logo {
        margin: 50px 0;
    }
}


/* -------------------------------------------
                ** Footer **
 ------------------------------------------- */

.footer-wrap {
    margin: 100px 240px 100px 240px;
    height: 100px;
    display: flex;
    text-align: center;
    border-radius: 8px;
    align-items: center;
    background: #FFF4E7;
    justify-content: center;
}

.footer-wrap small {
    text-align: center;
    /* background: #FFF4E7; */
    color: #424242
}

@media (max-width:425px) {
    .footer-wrap {
        margin: 0 10px 30px 10px;
    }
}